<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>popcon</title>
    <!--Bootstrap CSS-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--jQuery-->
    <script src="/static/js/jquery-1.12.2.min.js"></script>
    <!--Bootstrap JS-->
    <script src="/static/js/bootstrap.min.js"></script>
    <!--footerFixed JS-->
    <script src="/static/js/footer-fixed.js"></script>
    <style>
        #footer {
            text-align: center;
            padding-bottom: 15px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">popcon</a>
                </div>

                <div class="collapse navbar-collapse" id="navbarEexample">
                    <ul class="nav navbar-nav">
                        <li><a href="/">トップ</a></li>
                        <li><a href="/onlinejudge">オンラインジャッジ</a></li>
                        <li class="active"><a href="/contests">コンテスト</a></li>
                        <li><a href="/help">ヘルプ</a></li>
                    </ul>
                    <div class="navbar-right">
                        <p class="navbar-text">User: <a href="/userinfo">{{html .UserName}}</a></p>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="contents">
        <div class="container">
            <div class="page-header">
                <h1>コンテスト一覧</h1>
            </div>
        </div>
        <div style="margin-top:10px;" class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills">
                        <li role="presentation" {{if (eq .Type 0)}}class="active" {{end}}><a href="/contests/">現在</a></li>
                        <li role="presentation" {{if (eq .Type 1)}}class="active" {{end}}><a href="/contests/coming/">未来</a></li>
                        <li role="presentation" {{if (eq .Type 2)}}class="active" {{end}}><a href="/contests/closed/">過去</a></li>
                    </ul>
                </div>
            </div>
            <!--            <div class="row">
                <div class="col-md-8">-->
            <div style="margin-top:5px;" class="panel panel-default">
                <table class="table">
                    <thead>
                        <tr>
                            <th>名前</th>
                            <th>開催時間</th>
                            <th>種類</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{range .Contests}}
                        <tr>
                            <td><a href="/contests/{{.Cid}}/">{{html .Name}}</a></td>
                            <td>{{html (timeRangeToString .StartTime .FinishTime)}}</td>
                            <td>{{html (contestTypeToString .Type)}}</td>
                        </tr>
                        {{else}}
                        <tr>
                            <td>該当するコンテストはありません。</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">
                <ul class="pagination" >
                    {{if ne .Current 1}}
                        <li>
                            <a href="#" aria-label="前のページへ">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                    {{end}}

                    {{range .Pagenation}}
                        {{if (eq .Page -1)}}
                            <li class="disabled"><a href="./?p={{.Page}}">...</a></li>
                        {{else}}
                            <li {{if .IsActive}}class="active"{{end}}>
                                <a href="./?p={{.Page}}">{{.Page}}</a>
                            </li>
                        {{end}}
                    {{end}}
                    {{if ne .Current .MaxPage}}
                    <li>
                        <a href="#" aria-label="次のページへ">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                    {{end}}
                </ul>
            </div>
            <!--                </div>
            </div>-->
            <footer class="container-fluid" id="footer">
                <small>Copyright (C) 2016 Tsuzu All Rights Reserved.</small>
            </footer>
        </div>
    </div>

</body>

</html>